body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

/*-----HEAD SECTION-----*/

.container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.header-container, .hero-container {
    display: flex;
    margin: 20px 100px 75px;
    justify-content: space-between;
    /* 
    or use padding: 20px 100px 75px;
    not sure which alternative is better and why
    */
    /* border: 3px solid black; */
}

.header-container {
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.hero-container {
    /* */
}

.hero-left {
   padding-right: 30px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
}

.hero-secondary {
    font-size: 18px;
    color:rgb(214, 214, 214);
}

/*
.hero-left,.hero-right {
     border: 3px solid black; 
}
*/

.theater { /* placeholder */
    width: 600px;
    height: 300px;
}

button {
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    padding: 7px 25px;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
}


/*-----INFO SECTION-----*/

.info {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0;
}

.info-container {
    display: flex;
    justify-content: center;
}

.card1, .card2, .card3, .card4 {
    max-width: 200px;
    text-align: center;
    margin: 0 45px;
}

.info-pic {
    width: 175px;
    height: 175px;
    border: 3px solid black; /*CHANGE COLOR*/
    border-radius: 8px;
}

.text {
    padding-top: 5px;
    width: 175px;
}

/*-----QUOTE SECTION-----*/

.quote-container {
    /*--margin: 100px 400px;--*/
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: green;
}

.quote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*--border: 3px solid black;--*/
    width: 900px;
    margin: 100px 0;
}

.quote-text, .quote-author {
    /*--margin: 0 400px;-*/
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

/*--Sign Up Section--*/

